@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*,
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}

::before,
::after {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    background: rgb(29, 29, 29);
    overflow-x: hidden;
}

header {
    width: 95%;
    height: 20vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
}

/* navbar */

nav {
    background: transparent;
    left: 0.1rem;
    width: 100vw;
    height: 6rem;
    position: fixed;
    top: 0;
    z-index: 11;
}

.nav__container {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav__menu {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav__menu a {
    font-size: 1.4rem;
    transition: all 400ms ease;
    color: rgb(209, 209, 209);
    display: inline-block;
}

.nav__menu a:hover {
    color: #00ffbb;
}

.nav__container h3 {
    color: white;
    width: 30px;
}

nav ul li {
    display: list-block;
    list-style: none;
    margin: 10px px;
}

nav a{
    position: relative;
    text-decoration: none;
    color: #00ffd9;
    letter-spacing: 0.5px;
    padding: 0 10px;
}

nav a::after{
    content:"";
    position: absolute;
    background-color: #00ffbb;
    height: 3px;
    width: 0%;
    bottom: -10px;
    left: 0;
    transition: 0.8s;
}

nav a:hover::after{
    width: 100%;
}

/* 
side bar */






/* nav maanu end */

/* nav bar ends here */

#section-home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
}

.text-zone h1 {
    font-size: 6.5rem;
    line-height: 7rem;
    letter-spacing: -1px;
    position: relative;
}

.text-zone h1::before {
    content: '<h1>';
    position: absolute;
    top: -80px;
    left: -10px;
    font-size: 1.8rem;
    font-family: 'La Belle Aurore', cursive;
    color: #666565;
    letter-spacing: 3px;
}

.text-zone h1::after {
    content: '</h1>';
    position: absolute;
    bottom: -90px;
    right: -15px;
    font-size: 1.8rem;
    font-family: 'La Belle Aurore', cursive;
    color: #666565;
    letter-spacing: 3px;
}

.text-zone img {
    width: 100px;
    height: 100px;
}

.text-zone .gray-text {
    margin-top: 30px;
    color: #a2a2a3;
    letter-spacing: 3px;
    font-size: 27px;
    position: relative;
}


/* contact me button */

.upload-button {
    text-decoration: none;
    width: 100%;
    max-width: 200px;
    height: 40px;
    display: block;
    line-height: 40px;
    letter-spacing: 3px;
    position: relative;
    text-align: center;
    color: #08fdd8;
    margin-top: 50px;
}

.upload-button div {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all .4s ease-in-out;
}

.upload-button span.bg {
    position: absolute;
    width: 0%;
    height: 100%;
    left: -5px;
    top: 0;
    transition: all .3s ease-in-out;
    background-color: #08fdd8;
    transform: skewX(-19deg);
}

.upload-button:hover span.bg {
    width: 110%;
}

.upload-button span.base {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    border: 1px solid #08fdd8;
    box-sizing: border-box;
}

.upload-button span.text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.upload-button:hover span.text {
    color: #1d1d1d;
}
